@tailwind base;
@tailwind components;
@tailwind utilities;


.heroText {
  background: linear-gradient(187deg, #ff0000 70%, #6978b4 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

}

.heroSecond {
  background: linear-gradient(0deg, #57AEFF, #57AEFF);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  
}

.blurBg {
  background: rgba(255, 255, 255, 0.20);
}